@tailwind base;
@tailwind components;
@tailwind utilities;

.input-scroolbar::-webkit-scrollbar {
  width: 6px;
}

.input-scroolbar::-webkit-scrollbar-track {
  background: transparent;
}

.input-scroolbar::-webkit-scrollbar-thumb {
  background: #697586;
  border-radius: 8px;
}

.ql-toolbar {
  @apply !border-0 !border-b;
}

.ql-container {
  @apply !border-0;
}

.swiper-pagination-bullet {
  @apply h-2 w-2 rounded-full bg-admin-primary-200 duration-500;
}

.swiper-pagination-bullet-active {
  @apply bg-admin-primary-main w-8;
}

.swiper-pagination {
  @apply flex justify-center gap-3 my-2 -mt-2 relative z-50;
}

.title {
  @apply text-4xl lg:text-5xl xl:text-6xl font-light text-lightDark;
}

.title2 {
  @apply text-3xl lg:text-4xl xl:text-5xl font-light text-lightDark;
}

.boldTitle {
  @apply text-4xl lg:text-5xl xl:text-6xl font-bold text-lightDark;
}

.subtitle {
  @apply text-base font-bold text-lightDark;
}

.boldSubtitle {
  @apply text-lg font-bold text-blueLight;
}

.text {
  @apply text-sm font-bold text-lightDark;
}
