@import '../css/footer.css';
@import '../css/header/header-container.css';
@import '../css/header/search.css';
@import '../css/header/top-menu.css';
@import '../css/header/category.css';
@import '../css/header/action.css';
@import '../css/home-swiper.css';
@import '../css/home-page.css';
@import '../css/product-card.css';
@import '../css/star.css';
@import '../css/hurry-up.css';
@import '../css/progress-bar.css';
@import '../css/special-offer.css';
@import '../css/avatar.css';
@import '../css/button.css';
@import '../css/switch.css';
@import '../css/form/checkbox.css';
@import '../css/form/form-messages.css';
@import '../css/form/form.css';
@import '../css/form/input.css';
@import '../css/form/login-provider.css';
@import '../css/form/seperator.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  @apply space-y-10;
  min-height: calc(100vh - 558px);
  min-height: calc(100dvh - 558px);
}
